includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 1
    paths:
        - app
        - routes
    excludePaths:
        - vendor
        - routes/console.php
    checkMissingIterableValueType: false
    checkMissingVarTagTypehint: false
    checkUnionTypes: false

